//! **************************************************************************
// Written by: Map O.87xd on Thu Jan 25 12:21:57 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "L15" LEVEL 1;
COMP "we1" LOCATE = SITE "M8" LEVEL 1;
COMP "we2" LOCATE = SITE "U8" LEVEL 1;
COMP "en_n" LOCATE = SITE "R10" LEVEL 1;
COMP "gwe" LOCATE = SITE "U10" LEVEL 1;
COMP "XLXN_12<0>" LOCATE = SITE "A10" LEVEL 1;
COMP "XLXN_12<1>" LOCATE = SITE "D14" LEVEL 1;
COMP "oen" LOCATE = SITE "U11" LEVEL 1;
COMP "XLXN_12<2>" LOCATE = SITE "C14" LEVEL 1;
COMP "XLXN_12<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "XLXN_13<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "XLXN_12<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "XLXN_13<1>" LOCATE = SITE "U15" LEVEL 1;
COMP "XLXN_12<5>" LOCATE = SITE "R5" LEVEL 1;
COMP "XLXN_13<2>" LOCATE = SITE "U13" LEVEL 1;
COMP "XLXN_12<6>" LOCATE = SITE "T5" LEVEL 1;
COMP "XLXN_13<3>" LOCATE = SITE "M11" LEVEL 1;
COMP "XLXN_12<7>" LOCATE = SITE "E4" LEVEL 1;
COMP "XLXN_13<4>" LOCATE = SITE "R11" LEVEL 1;
COMP "XLXN_13<5>" LOCATE = SITE "T12" LEVEL 1;
COMP "XLXN_13<6>" LOCATE = SITE "N10" LEVEL 1;
COMP "XLXN_13<7>" LOCATE = SITE "M10" LEVEL 1;
COMP "oen_n" LOCATE = SITE "R8" LEVEL 1;
SCHEMATIC END;

